* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: sans-serif;
}
#nav-bar {
  position: sticky;
  top: 0px;
  z-index: 10;
}
.navbar {
  background: linear-gradient(to right, #a517ba, #5f1782);
  padding: 0 !important;
}
.me {
  margin-left: auto;
  padding: 0;
}
.navbar-brand img {
  height: 40px;
  padding-left: 20px;
}
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li:hover {
  background-color: rgba(0, 0, 0, 0.26);
}
.navbar-nav a {
  color: #fff !important;
  font-weight: 600;
  /* float: right; */
  /* text-align:left; */
}

.fa-bars {
  color: white;
  font-size: 30px !important;
}

.navbar-toggler {
  outline: none !important;
}
/*--------------------- banner-------------- */

#banner {
  background: linear-gradient(to right, #a517ba, #5f1782);
  color: white;
  padding-top: 5%;
}
.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}
.play-btn {
  width: 45px;
  margin: 20px;
}

#banner a {
  text-decoration: none;
  color: white;
}
.botom-img {
  width: 100%;
}
/* --------------service---------------------------- */

#services {
  padding: 80px 0;
}
.service-img {
  width: 100px;
  margin-top: 20px;
}
.services {
  padding: 20px;
}

.services h4 {
  padding: 5px;
  margin-top: 20px;
  text-transform: uppercase;
}
.title::before {
  content: "";
  background-color: #7b1782;
  width: 200px;
  height: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(60px);
}
.title::after {
  content: "";
  /* background-color: #7b1782; */
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}
#services .btn-primary {
  box-shadow: none;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  background: linear-gradient(to right, #a517ba, #5f1782);
}
/*  ----------------------- about-us---------------   */
#about-us {
  background-color: #f8f8fa;
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}
#about-us ul li {
  margin: 10px 0;
}
#about-us ul {
  margin-left: 10px;
}
/* ---------------------testimonials------------------------- */
#testimonials {
  margin: 100px 0;
}
.testimonials {
  border-left: 4px solid #7b1798;
  margin-top: 50px;
  margin-bottom: 50px;
}
.testimonials img {
  border-radius: 50px;
  margin: 0 10px;
}
.user-details {
  display: inline-block;
  font-size: 14px;
}
/* ''''''''''''''''''''social-media''''''''''''''' */
#social-media {
  background: #f8f8fa;
  padding: 100px 0;
}
#social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.social-icons img {
  width: 60px;
  transition: 0.5;
}
.social-icons a:hover img {
  transform: translateY(-30px);
}
/* ---------------------------footer------------------ */
#footer {
  background-image: linear-gradient(to right, #a417ba, #5e1782);
  color: white;
}
.footer-box {
  padding: 20px;
}
.footer-img {
  width: 100%;
}
.footer-box img {
  width: 120px;
  margin-bottom: 20px;
}
.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
}
.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 0px;
  margin-top: 25px;
  max-width: 250px;
}
.footer-box .btn-primary {
  box-shadow: none !important;
  border: none;
  border-radius: 0px;
  margin-top: 30px;
  background-image: linear-gradient(to right, #a417ba, #5e1782);
}
hr {
  background-color: white;
}
.copyright {
  margin-bottom: 0;
  padding-bottom: 20px;
  text-align: center;
}
